.bigButton {
    -fx-background-color: #e5e5e5;
    -fx-background-radius: 15;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.smallButton {
    -fx-background-color: #e5e5e5;
    -fx-background-radius: 7;
    -fx-border-color: black;
    -fx-border-radius: 7;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 7, 0, 0, 0);
    -fx-cursor: hand;
}

.label {
    -fx-background-color: #d7d96c;
    -fx-background-radius: 15;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
}

.turn {
    -fx-background-color: #48DF2F;
    -fx-background-radius: 20;
    -fx-border-width: 0;
    -fx-effect: none;

}

.time{
    -fx-font-family: "Chalkboard";
    -fx-font-size: 20px;
    -fx-background-color: none;
    -fx-background-radius: 20;
    -fx-border-width: 0;
    -fx-effect: none;

}